{% extends 'includes/base_auth.html' %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
      <div class="ht-100v text-center">
        <div class="row no-gutters pd-0 mg-0">
           <div class="col-lg-4 bg-gray-100">
              <div class="ht-100v d-flex align-items-center justify-content-center">
                 <div class="wd-300">
                    <h3 class="mg-b-5 tx-left">Reset Your Password</h3>
                    <p class="tx-12 mg-b-30 tx-left">Enter your email address and we will send you a link to reset your password.</p>
                    <form action="{% url 'forgot' %}" method="post">
                     {% csrf_token %}
                     <div class="form-group">
                        <div class="d-flex justify-content-between mg-b-5">
                           <label class="mg-b-0">Email</label>
                        </div>
                        <input type="email" class="form-control" placeholder="Enter your email">
                     </div>
                     <div class="form-group">
                         <input type="submit" class="btn btn-md btn-primary rounded-pill btn-block waves-effect" value="Reset Password">
                     </div>
                    </form>
                    <div class="tx-15 mg-t-15 tx-center">Sign in as a different <a href="{% url 'login' %}" class="tx-dark">Account</a></div>
                 </div>
              </div>
           </div>
           <div class="col-lg-8 bg-image hidden-sm">
           </div>
        </div>
     </div>
{% endblock %}