{% extends 'includes/base.html' %}
{% block title %}Add Reservation{% endblock %}

{% block content %}
<div class="col-lg-12">
    <h2>Add reservstion page</h2>
    <div class="mg-t-20">
        <div class="card custom-fieldset-style mg-b-30">
            <form action="{% url 'reservation_add' %}" method="POST" data-parsley-validate>
                {% csrf_token %}
                <div class="clearfix">

                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.user_id.id_for_label }}">{{ reservation_form.user_id.label }} <span class="tx-danger">*</span></label>
                            <div class="form-group mb-3">
                                {{ reservation_form.user_id }}
                            </div>
                        </div>
                    </div>

                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.dorm_id.id_for_label }}">{{ reservation_form.dorm_id.label }} <span class="tx-danger">*</span></label>
                            <div class="form-group mb-3">
                                {{ reservation_form.dorm_id }}
                            </div>
                        </div>
                    </div>

                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.room_id.id_for_label }}">{{ reservation_form.room_id.label }} <span class="tx-danger">*</span></label>
                            <div class="form mb-3">
                                {{ reservation_form.room_id }}
                            </div>
                        </div>
                    </div>

                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.move_in_date.id_for_label }}">{{ reservation_form.reservation_fee.label }} <span class="tx-danger">*</span></label>
                            <div class="form mb-3">
                                {{ reservation_form.reservation_fee }}
                            </div>
                        </div>
                    </div>

                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.move_in_date.id_for_label }}">{{ reservation_form.move_in_date.label }} <span class="tx-danger">*</span></label>
                            <div class="form mb-3">
                                {{ reservation_form.move_in_date }}
                            </div>
                        </div>
                    </div>



                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.reservation_status.id_for_label }}">{{ reservation_form.reservation_status.label }}</label>
                            <div class="form mb-3">
                                {{ reservation_form.reservation_status }}
                            </div>
                        </div>
                    </div>



                    <div class="row mg-t-10">
                        <div class="col-lg mg-t-10 mg-lg-t-0">
                            <label for="{{ reservation_form.decline_reason.id_for_label }}">{{ reservation_form.decline_reason.label }}</label>
                            <div class="form mb-3">
                                {{ reservation_form.decline_reason }}
                            </div>
                        </div>
                    </div>

                    <div class="row mg-t-20">
                        <div class="col-lg">
                            <input type="submit" class="btn btn-primary btn-md" value="Save reservation information">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block per_page_js %}
<script>
    $('#id_move_in_date').datepicker();
</script>
{% endblock %}